*{
  padding: 0;
  margin: 0;
}
li{
  list-style: none;
}
a{
  text-decoration: none;
}
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  background-color: rgba(0, 0, 0, 1);
  color: #ffffff;
  position: fixed;
  width: 100%;
  height: 4rem;
  z-index: 999;

}

.nav-links a {
  color: #ffffff;
}

/* LOGO */
.logo {
  font-size: 32px;
  font-family: 'Times New Roman', Times, serif;
  font-weight: lighter;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}


@media (max-width:790px) {
  .logo {
    font-size: 20px;
  }
}

/* NAVBAR MENU */
.menu {
  display: flex;
  gap: 1em;
  font-size: 18px;
}

.menu li:hover {
  background-color: rgb(0, 0, 0);
  border-radius: 5px;
  transition: 0.3s ease;
}

.menu li {
  padding: 5px 14px;
}
/* RESPONSIVE NAVBAR MENU STARTS */

/* CHECKBOX HACK */

input[type=checkbox] {
  display: none;
}

/* HAMBURGER MENU */
.hamburger {
  display: none;
  font-size: 24px;
  user-select: none;
}

/* APPLYING MEDIA QUERIES */
@media (max-width: 768px) {
  .menu {
    display: none;
    position: absolute;
    background-color: rgba(0, 0, 0, 1);
    right: 0;
    left: 0;
    text-align: right;
    padding: 16px 0;
  }

  .menu li:hover {
    display: inline-block;
    background-color: rgba(0, 0, 0, 1);
    transition: 1s ease-in-out;
  }

  .menu li+li {
    margin-top: 12px;
  }

  input[type=checkbox]:checked~.menu {
    display: block;
  }

  .hamburger {
    display: block;
  }
}
.logoImage {
  border-radius: 360px;
  height: 30px;
  width: 30px;
  margin: 1rem;
}
/* Footer Designing */
.footer{
  width: 100%;
  height: 14rem; 
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  background-color: #000000;
  justify-content: center;
  align-items: center;
}

.footerContainer{
  padding-left: 25px;
  padding-right: 25px;
  width: 100%;
}
.row{
  display: flex;
  align-items: center; 
  flex-wrap: wrap;
  justify-content: space-around ;
}
.footerContent{
  flex-basis: 30%;
  min-width: 250px;
}
#in{
  color: green;
  font-size: 2rem;
}
#di{
  color: white;
  font-size: 2rem;
}
#bus{
  color: orange;
  font-size: 2rem;
}
#footname{
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 12rem;
}
.footerContent img{
  width: 4rem;

}
.footerlogo{
  margin-left: 25px;
}
.indi{
  display: flex;
  height: 12rem;
  align-items:self-end;
}
#logocontainer{
  display: flex;
  align-items: center;
  justify-content: center;
}