*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
li{
  list-style: none;
}
a{
  text-decoration: none;
}
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  background-color: rgba(0, 0, 0, 1);
  color: #ffffff;
  position: fixed;
  width: 100%;
  height: 4rem;
  z-index: 999;

}

.nav-links a {
  color: #ffffff;
}

/* LOGO */
.logo {
  font-size: 32px;
  font-family: 'Times New Roman', Times, serif;
  font-weight: lighter;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}


@media (max-width:790px) {
  .logo {
    font-size: 20px;
  }
}

/* NAVBAR MENU */
.menu {
  display: flex;
  gap: 1em;
  font-size: 18px;
}

.menu li:hover {
  background-color: rgb(0, 0, 0);
  border-radius: 5px;
  transition: 0.3s ease;
}

.menu li {
  padding: 5px 14px;
}
/* RESPONSIVE NAVBAR MENU STARTS */

/* CHECKBOX HACK */

input[type=checkbox] {
  display: none;
}

/* HAMBURGER MENU */
.hamburger {
  display: none;
  font-size: 24px;
  user-select: none;
}

/* APPLYING MEDIA QUERIES */
@media (max-width: 768px) {
  .menu {
    display: none;
    position: absolute;
    background-color: rgba(0, 0, 0, 1);
    right: 0;
    left: 0;
    text-align: right;
    padding: 16px 0;
  }

  .menu li:hover {
    display: inline-block;
    background-color: rgba(0, 0, 0, 1);
    transition: 1s ease-in-out;
  }

  .menu li+li {
    margin-top: 12px;
  }

  input[type=checkbox]:checked~.menu {
    display: block;
  }

  .hamburger {
    display: block;
  }
}
.logoImage {
  height: 45px;
  width: 50px;
  margin: 10px;
  margin-right: 15px;
}
@media (max-width: 800px){
  .logoImage{
    margin: 0;
    margin-right: 8px;
  }
  .navbar{
    padding-left: 10px;
  }
}


/* Footer Designing */
.footer{
  background-color: black;
  color: white;
}
#in{
  color: orange;
}
#di{
  color: white;
}
#bus{
  color: green;
}
.indip{
  font-size: 2rem;
}
.footsmall{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.footrow{
  display: flex;
  flex-wrap: wrap;
  margin-left: 8%;
  margin-right: 8%;
}

.col4{
  flex-basis: 25%;
  margin-top: 30px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.col4a{
  flex-basis: 25%;
  margin-top: 30px;
  padding: 30px;
  display: flex;
  align-items:  center;
  flex-direction: column;
  gap: 20px;
}
.footerContent{
 display: flex;
 align-items: center;
 justify-content: center;
 gap: 2.5rem;
 padding-top: 1rem;
 padding-bottom: 1rem;
}
#x:hover{
  box-shadow: 0px 0px 10px 10px  #ffffff;
}
#facebook:hover{
  box-shadow: 0px 0px 10px 10px  #13306c;
}
#instagram:hover{
  box-shadow: 0px 0px 10px 10px  #d62976;
}
#linkedin:hover{
  box-shadow: 0px 0px 10px 10px  #0077b5;
}
.footerlogo{
  border-radius: 50%;
}
.indip2{
  font-size: 1rem;
  font-weight: 200;
}
.phicon{
  width: 30px;
}
.contacts,.location{
  display: flex;
  gap: 10px;
}
.footlink{
  text-decoration: none;
  color: white;
  line-height: 2rem;
}
.sendicon{
  width: 30px;
}
.btnicon{
  background-color: black;
  border: none;
}
.copyright{
  text-align: right;
  padding-bottom: 1%;
  padding-right: 1%;
}
#copy{
  font-size: 0.9rem;
  color: rgb(141, 136, 136);
}
@media (max-width: 768px){
  .footrow{
    align-items: center;
    justify-content: space-between;
    margin-left: 6%;
    margin-right: 6%;
    padding-top: 5%;
    gap: 10%;
  }
  .col4a,.col4{
    margin: 0;
    padding: 0;
    text-align: center;
  }
  .col4a h3{
    padding-top: 20px;
  }
  .footsmall{
    padding: 0;
  }
  textarea {
    width: 200px;
    height: 40px;
  }
  #company{
    display: none;
  }
  #feedback{
   margin-left: 18%;
   gap: 0;
   margin-top: 10%;
  }
  .footerContent{
    gap: 1rem;
  }
  .copyright{
    text-align: center;
  }
}


@media (max-width: 371px){
  .footrow{
    margin-left: 4%;
    margin-right: 4%;
  }
}
@media (max-width: 355px){
  .footrow{
    align-items: center;
    justify-content: center;
  }
  #feedback{
    margin-left: 0;
   }
}






/*-----*/

.navSigns{
  height: 1.5rem;
  width: 1.5rem;
  align-self: center;
  justify-self: center;
  color: #ffffff;
  padding-top: 0.4rem;
}
