.App {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50rem;
    margin-bottom: 4rem;
    
  }
  .container{
    width: 100%;
    background-image: linear-gradient( rgba(38, 2, 2, 0), rgba(49, 11, 2, 0.802));
    padding-top: 9rem;
  }
  .smallcontainer{
   
    margin: auto;
    padding-left: 10rem;
    padding-right: 10rem; 
  }
  .row{
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 5rem;
    padding-bottom: 5rem;
  }
  .h2text{
    color: white;
    font-size: 2rem;
    margin-bottom: 2rem;
  }
  .imgdiv3{
    width: 276px;
    height: 246px;
    padding: 9px;
  }
  .imgp{
    color: white;
    font-size: 2rem;
    font-weight: 500;
    text-align: center;
    padding-bottom: 20px;
  }
  .imgp2{
    color: white;
    font-size: 1.4rem;
    font-weight: 300;
    text-align: center;
  }
  .col3{
    transition: all .2s ease-in-out;
  }
  .col3:hover{
    transform: scale(1.1);
  }


.midcontainer1{
  position: relative;
  margin-top: 0.5rem;
}
.midtext1{
  position: absolute;
  z-index: 99;
  background-color: white;
  max-width: 1110px;
  min-width: 288px;
  padding: 3rem;
  bottom: -415px;
  right: -0px;
}
.midimg1{
  position: absolute;
}
.h2w{
  font-size: 2rem;
  margin-bottom: 1.2rem;
}
.pw{
  line-height: 1.5rem;
}
.midimg1 img{
  width: 1100px;
}
.white1{
  background-color: white;
  left: 0;
  height: 570px;
  overflow: hidden;
}



.midcontainer2{
  position: relative;
  margin-top: 0.5rem;
}
.white{
  background-color: white;
  left: 0;
  height: 570px;
  overflow: hidden;
}
.midimg2 img{
  width: 1100px;
}
.midimg2{
  top: 0;
  right: -0px;
  position: absolute;
}
.maincontainer{
  height: auto;
}
.midtext2{
  position: absolute;
  z-index: 9;
  background-color: white;
  max-width: 1110px;
  min-width: 288px;
  padding: 3rem;
  bottom: -415px;
}







  
  @media (max-width:790px) {
    .App{
        height: 20rem;
        margin-bottom: 0;
    }
    .h2text{
      font-size: 1.5rem;
      margin-bottom: 1rem;
      text-align: center;
    }
    .smallcontainer{
      margin: auto;
      padding-left:0;
      padding-right: 0; 
    }
    .row{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      justify-content: space-between;
      flex-wrap: wrap;
      gap: 2rem;
      padding-bottom: 5rem;
    }
    .container{
      width: 100%;
      padding-top: 4rem;
    }
    
  }
  .carouselContainer {
    max-width: 95%;
  }
  @media (max-width:790px) {
    .carouselContainer{
        object-fit: cover;
        margin-top: 0;
    }
    .imageCarousel{
        height: 100%;
        object-fit: cover;
    }
  }