.App {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50rem;
    margin-bottom: 4rem;
    
  }
  
  @media (max-width:790px) {
    .App{
        height: 25rem;
    }
    
  }
  .carouselContainer {
    max-width: 80%;
  }
  @media (max-width:790px) {
    .carouselContainer{
        object-fit: cover;
        margin-top: 0;
    }
    .imageCarousel{
        height: 100%;
        object-fit: cover;
    }
  }