.adminoptionBody{
    min-height: 100vh;
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.optionCard{
    min-height: 60vh;
    min-width: 40%;
    border-radius: 12px;
    border-width: 1px;
    border-color: black;
    border-style: ridge;
    box-shadow: 1px 1px 1px 1px #000000;
    display: flex;
    flex-wrap:wrap;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.optionsButton{
    min-height: 40vh;
    min-width: 80%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.butttonComp{
    min-height: 8vh;
    min-width: 100%;
    font-size: large;
    font-weight: 400;
    font-style: bold;
    border: none;
    background-color: #d9f4e3;
}

.butttonComp:hover{
    background-color: #d9f4;
}